DATABASE_URL=libsql://devnews-realdhiru.aws-ap-south-1.turso.io
DATABASE_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3Nzc3MjU0OTgsImlkIjoiMDE5ZGU4YjAtN2IwMS03Y2NlLWExNjMtMTJlNjUyMmViNzkwIiwicmlkIjoiZWU1MGUzYTUtZjUwNi00N2I4LTljZjAtODY0OGI1ZDMwZTE5In0.YjMljQWrFpmO1Sa31MOTc4NPVp4FH01tHJM6Yt2t-n0vR22dcUIRiaFzIwnTKMqm94FI9azsJvUpwFGohE-HDQ
API_KEY=your-secret-api-key-for-github-actions
ALLOWED_ORIGINS=http://localhost:5173,https://yourapp.vercel.app,http://localhost:3000
ENV=development
